<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">
    <ion-slide>
      <div class="slide perro">
        <img class="perro" src="https://cdn-icons-png.flaticon.com/512/616/616554.png" alt="">
        <h2>Bienvenidos a PetWalk 🐾</h2>
       <h3> <strong>Paseador</strong></h3>
        <p>
          En este tutorial te enseñaremos a utilizar nuestra aplicación, para pasear mascotas y ganar dinero!
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <h2>Qué necesito para pasear una mascota?</h2>
        <h3><strong>Paso 1 </strong> <ion-icon name="checkmark-outline"></ion-icon></h3>
        <p>En primer lugar, debes <b>gestionar el horario</b>  que mas te acomode.</p>
        <p>Dentro de tu <b>perfil</b> encontraras el boton para tus horarios</p>
        <h4>Considera que los paseos duran 1 hora</h4>
      <img class="imgIconos" src="https://cdn-icons-png.flaticon.com/512/2784/2784459.png" alt="">
      
    
    </ion-slide>

    <ion-slide>
      <h3><strong>Paso 2 </strong><ion-icon name="checkmark-outline"></ion-icon></h3>
      <p>
        Al tener tu horario del dia listo solo queda esperar a que un usuario solicite tu servicio
      </p>
      <p>
        Mientras mas horarios tengas disponible, mas oportunidades tienes de pasear
      </p>
      <img src="https://cdn-icons-png.flaticon.com/512/995/995660.png" /> 
    </ion-slide>

    <ion-slide>
      <h3><strong>Paso 3 </strong><ion-icon name="checkmark-outline"></ion-icon></h3>    
      <p>Revisa tus <b>solicitudes</b> en la <b>barra de navegacion</b>  inferior, puede que tengas alguna 😉</p>
      
      <img src="https://cdn-icons-png.flaticon.com/512/3602/3602745.png" alt="">
      <h3><strong>Paso 4 </strong><ion-icon name="checkmark-outline"></ion-icon></h3>
      <p>Acepta la solicitud que mas te convenga de acuerdo a tu hubicación</p>
      <img src="https://cdn-icons-png.flaticon.com/512/235/235861.png" alt="">
    </ion-slide>

    <ion-slide>
      <h3>Paseando la Mascota</h3>
      <p>
        Al momento de aceptar un paseo, se iniciara un contador de 1 hora
      </p>
      <img src="https://images.vexels.com/media/users/3/192612/isolated/preview/53b3624bf78373bfb6c3a10b1d2a9d96-reloj-icono-de-tiempo-reloj.png" alt="">
      <h4>Recuerda volver 10min antes de que termine el tiempo!!</h4>
      <img src="https://img.freepik.com/iconos-gratis/pasear-al-perro_318-634971.jpg?w=2000" alt="">
    </ion-slide>
    <ion-slide>
      <h3>Paseo Exitoso</h3>
      <p>Finalemente regresa a la mascota a su dueño para que vuelvan a estar felices juntos</p>
      <img src="https://cdn-icons-png.flaticon.com/512/3048/3048404.png" alt="">
      <h3>Paseo realizado exitosamente!!</h3>
      <p>Comprueba tus ganancias en tu <b>Cartera</b> o en tu <b>Perfil</b></p>
      <img src="https://cdn-icons-png.flaticon.com/512/8062/8062545.png" alt="">
    </ion-slide>

    <ion-slide class="fin">
      <img src="https://media.tenor.com/yTPn_mN53MAAAAAC/corgi-cute.gif" /> 
      <h2>Listo para empezar?</h2>
      <ion-button fill="clear" (click)="retornarPerfil()">Continuar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>