@import url("https://adminlte.io/themes/v3/dist/css/adminlte.css%22");
@import url("https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css%22");



.cartera{
      text-align: center;
      margin-top: 10%;
      margin-bottom: 10%;
      
}
.cartera h3{
      font-size: 30px;
}

.cartera h6{
      width: 90%;
      height: 2px;
      margin-left: 5%;
      background-color: black;
}
.cartera h5{
      font-size: 25px;
      font-weight: bold;
      color: rgb(1, 185, 1);
}

.retiro{
      margin-left: 3%;
      width: 90%;

}

ion-button{
      margin-top: 15%;     
}