*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}



.form-register{
      width: 100%;
      background-image: url('../../../assets/img/fondos.png');
      background-size: cover;
      background-size:auto;
      padding: 30px;
      margin: auto;
      margin-top: 0;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: black;

}

.form-register h4{
      font-size: 17px;
      margin-bottom: 20px;
      color:#14252d;
      text-align: center;
      font-weight:bold;
      
}



.controls{
      width: 100%;
      background-color: #f8f8f8;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 2px solid #0b597e;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 14px;
      
}



.controlsFecha{
      width: 100%;
      color: rgb(0, 0, 0);
      background-color: #f7e3f1;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 2px solid #126fbb;
}


.form-register p{
      height: 40px;
      text-align: center;
      font-size: 15px;
      line-height: 20px;
      font-weight: bold;
}

.form-register a{
      color: #0b597e;
      font-weight: bold;   
}

.form-register .botons{
      width: 100%;
      background:#6136e1;
      border: none;
      padding: 12px;
      color: white;
      margin: 16px 0;
      font-size: 16px;
      border-radius: 10px;
}

.title{
      text-align: center;
}

ion-icon{
      font-size: 20px;
      margin-left: 5px;
      margin-right: 7px;
}




.ion-color-consumidor {
      --ion-color-base: var(--ion-color-consumidor);
      --ion-color-base-rgb: var(--ion-color-consumidor-rgb);
      --ion-color-contrast: var(--ion-color-consumidor-contrast);
      --ion-color-contrast-rgb: var(--ion-color-consumidor-contrast-rgb);
      --ion-color-shade: var(--ion-color-consumidor-shade);
      --ion-color-tint: var(--ion-color-consumidor-tint);
}


































