<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro Consumidor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="true">

  <form form #ConsumidorForm="ngForm" (ngSubmit)="addRegistro(ConsumidorForm)">

    <div class="formulario">

      <div class="inputs">


        <ion-label>Nombre</ion-label>
        <ion-input name="nombre" placeholder="Nombre" [(ngModel)]="consumidorService.selectedConsumidor.nombre" ></ion-input>

        <ion-label>Apellido</ion-label>
        <ion-input placeholder="Apellido" name="apellido" [(ngModel)]="consumidorService.selectedConsumidor.apellido"></ion-input>

        <ion-label>Telefono</ion-label>
        <ion-input id="telefono"  type="Number" pattern="[0-9]" name="telefono" [(ngModel)]="consumidorService.selectedConsumidor.telefono" required><ion-text>+56</ion-text></ion-input>
        
        <ion-label>Correo</ion-label>
        <ion-input id="email" type="email"  name="correo" placeholder="usuario@gmail.com" [(ngModel)]="consumidorService.selectedConsumidor.correo"></ion-input>
        <span id="emailOK"></span>
        
        <ion-label>Contraseña</ion-label>
        <ion-input maxLength="6" name="contrasena" placeholder="Contraseña" type="password" [(ngModel)]="consumidorService.selectedConsumidor.contrasena"></ion-input>
        
        <ion-label>Confirmar Contraseña</ion-label>
        <ion-input maxLength="6" name="contrasena" type="password" placeholder="Confirmar Contraseña" [(ngModel)]="pass2"></ion-input>

        <ion-label>Dirección</ion-label>
        <ion-input name="direccion" placeholder="Dirección" [(ngModel)]="consumidorService.selectedConsumidor.direccion" ></ion-input>
        
        <ion-text>Comuna
        <ion-select placeholder="Seleccione Comuna " name="comuna" [(ngModel)]="consumidorService.selectedConsumidor.comuna" required>
          <ion-select-option *ngFor="let comuna of comunaService.comunas" [value]="comuna.nombre">{{comuna.nombre}}</ion-select-option>
        </ion-select></ion-text>

        <div class="fecha">

          <ion-label >Fecha de Nacimiento</ion-label>

          <ion-datetime name="fechaNacimiento" [(ngModel)]="consumidorService.selectedConsumidor.fechaNacimiento" presentation="date"></ion-datetime>
            

          
    
        </div>
      
        <ion-button color="consumidor" shape="round"><button style="background: none;">Registro</button></ion-button>
        

      </div>

      

    </div>

  </form>

</ion-content>
