<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title"><ion-icon name="paw-outline"></ion-icon> PetWalk <ion-icon name="paw-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="true">

  <form  form #ConsumidorForm="ngForm" (ngSubmit)="addRegistro(ConsumidorForm)">
    <div class="form-register">
      <h4><ion-icon name="paw-outline"></ion-icon> Registro Consumidor <ion-icon name="paw-outline"></ion-icon></h4>
      <ion-input class="controls" placeholder="Nombre" name="nombre" [(ngModel)]="consumidorService.selectedConsumidor.nombre"><ion-icon name="person-outline"></ion-icon></ion-input>
      
      <ion-input class="controls" placeholder="Apellido" name="apellido"  [(ngModel)]="consumidorService.selectedConsumidor.apellido"><ion-icon name="person-outline"></ion-icon></ion-input>
      
      <ion-input class="controls" placeholder="Correo" name="correo" id="email" type="email" [(ngModel)]="consumidorService.selectedConsumidor.correo"><ion-icon name="mail-outline"></ion-icon></ion-input>
      
      <ion-input class="controls" placeholder="Contraseña" name="contrasena" maxLength="6" type="password" [(ngModel)]="consumidorService.selectedConsumidor.contrasena"><ion-icon name="finger-print-outline"></ion-icon></ion-input>
      
      <ion-input class="controls" placeholder="Confirmar Contraseña" name="contrasena" maxLength="6" type="password" [(ngModel)]="pass2"><ion-icon name="finger-print-outline"></ion-icon></ion-input>
      
      <ion-input class="controls" placeholder="Telefono" name="telefono" type="Number" [(ngModel)]="consumidorService.selectedConsumidor.telefono"><ion-icon name="call-outline"></ion-icon></ion-input>
      
      <ion-input class="controls" placeholder="Dirección" name="direccion" [(ngModel)]="consumidorService.selectedConsumidor.direccion"><ion-icon name="home-outline"></ion-icon></ion-input>
      
      <ion-input class="controls"><ion-icon name="location-outline"></ion-icon>
      <ion-select placeholder="Seleccione Comuna" name="comuna" [(ngModel)]="consumidorService.selectedConsumidor.comuna" required>
        <ion-select-option *ngFor="let comuna of comunaService.comunas" [value]="comuna.nombre">{{comuna.nombre}}</ion-select-option>
      </ion-select></ion-input>

      <div class="controls"> 
        <h6>Fecha de nacimiento <ion-icon name="calendar-outline"></ion-icon></h6>
        <ion-datetime-button datetime="date"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime class="controlsFecha" presentation="date" id="date" name="fechaNacimiento" [(ngModel)]="consumidorService.selectedConsumidor.fechaNacimiento"></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
      

      <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
      
      
      <button class="botons" type="submit">Registrarse</button>
      
      <p><a [routerLink]="['../consumidor']">Ya tengo cuenta</a></p>

    </div>
  </form>

</ion-content>
