<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

   <ion-text>Nombre y apelldido</ion-text>
   <ion-text>Comuna</ion-text>
   <ion-text>Edad</ion-text>
   <ion-text>Paseos Realizados</ion-text>
   <br>
   <ion-text>Calificacion <ion-icon name="star-outline"></ion-icon> <ion-icon name="star-outline"></ion-icon> <ion-icon name="star-outline"></ion-icon><ion-icon name="star-half-outline"></ion-icon></ion-text>
    <ion-button>Solicitar Paseador</ion-button>

</ion-content>
