<ion-header>
  <ion-toolbar>
    <ion-title>{{trabajador?.nombre | titlecase}} {{trabajador?.apellido | titlecase}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="'http://localhost:4000/'+trabajador?.documentos[0]" />
    <ion-card-header>
      <ion-card-title>{{trabajador?.comuna}}</ion-card-title>
      <ion-card-subtitle>{{trabajador?.direccion}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Contacto: +56 {{trabajador?.telefono}}
      <a [href]="'https://api.whatsapp.com/send?phone=56'+trabajador?.telefono">Enviar Mensaje</a>
      Fecha de nacimiento: {{trabajador?.fechaNacimiento | date: 'dd/MM/yyyy'}}
      <ion-button>Solicitar Servicio</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>



