<ion-header>
  <ion-toolbar>
    <ion-title>{{trabajador?.nombre | titlecase}} {{trabajador?.apellido | titlecase}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab/buscar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center" >
                <img class="profile-user-img img-fluid img-circle"
                    src="https://static.vecteezy.com/system/resources/previews/004/607/806/original/man-face-emotive-icon-smiling-bearded-male-character-in-yellow-flat-illustration-isolated-on-white-happy-human-psychological-portrait-positive-emotions-user-avatar-for-app-web-design-vector.jpg"
                    alt="User profile picture" *ngIf="trabajador?.genero == 'Masculino'">
                    <img class="profile-user-img img-fluid img-circle"
                    src="https://static.vecteezy.com/system/resources/previews/001/312/575/non_2x/beautiful-teenage-girl-with-different-facial-expression-vector.jpg"
                    alt="User profile picture" *ngIf="trabajador?.genero == 'Femenino'">
              </div>

              <h3 class="profile-username text-center">{{trabajador?.nombre | titlecase}} {{trabajador?.apellido | titlecase}}</h3>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Contacto</b> <a class="float-right" [href]="'https://api.whatsapp.com/send?phone=56'+trabajador?.telefono">Enviar mensaje</a>
                  
                </li>
                <li class="list-group-item">
                  <b>Sexo</b> 
                  <a class="float-right" *ngIf="trabajador?.genero == 'Femenino'"><ion-icon name="female-outline"></ion-icon></a>
                  <a class="float-right" *ngIf="trabajador?.genero == 'Masculino'"><ion-icon name="male-outline"></ion-icon></a>
                </li>
              </ul>
              <button href="#" class="btn btn-primary btn-block" id="horarios"  (click)="setOpen(true)" ><b>Solicitar Servicio</b></button>
              <button (click)="abrirReporte()" class="btn btn-danger btn-block"><b>Reportar Trabajador</b></button>
              <button (click)="abrirEstrellas(numero)" class="btn btn-success btn-block"><b>Valorar trabajador</b></button>
            </div>

            <ion-modal trigger="horarios" [isOpen]="isModalOpen">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-buttons slot="start">
                      <ion-button (click)="setOpen(false)" >Cancel</ion-button>
                    </ion-buttons>
                    <ion-title>Horarios Disponibles</ion-title>
                    <ion-buttons slot="end">
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <div class="horarios">
                      <h4>{{fechaHoy | date: 'EEEE, MMMM d, y'}}</h4>
                      <h1>________________</h1>
                      <div *ngIf="cantidadHoras == 0">
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <div class="ion-text-center">
                                <h3>Lo sentimos! 😥</h3>
                                Nuestro trabajador aún no tiene horas habilitadas para trabajar
                              </div>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                      <div *ngIf="cantidadHoras != 0">
                        <div class="horas" *ngFor="let horas of horarios">
                          <div>
                            <ion-text ><strong>{{horas.horaIntervalos}}</strong> 🐶 </ion-text> <br><ion-text>{{trabajador?.comuna}}</ion-text>
                          </div>
                          <button (click)="hacerMatch(horas._id)" ><ion-text >Reservar</ion-text> </button>
                        </div>
                      </div>
                  </div>
                </ion-content>
              </ng-template>
            </ion-modal>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- About Me Box -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Información</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fas fa-map-marker-alt mr-1"></i> Ubicación</strong>

              <p class="text-muted">{{trabajador?.direccion}} | {{trabajador?.comuna}}</p>

              <hr>

              <strong><i class="fas fa-birthday-cake mr-1"></i> Fecha de Nacimiento</strong>

              <p class="text-muted">{{trabajador?.fechaNacimiento | date: 'dd/MM/yyyy'}}</p>
              <hr>

              <strong><i class="fas fa-star mr-1"></i> Valoración total</strong>

              <p class="text-muted">{{valoracion?.totalValorado | number : '1.1-1'}} ({{valoracion?.cantidadValoraciones}}) Opiniones</p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
</ion-content>