.btnHorario button{
      width: 96%;
      height: 60px;
      margin: 3%;
      border-radius: 5px;
      font-size: 20px;
      color: black;
}


.select{
     color: rgb(134, 207, 134);
}

.noSelect{
      color: blue;
}

