<ion-content>

<div>  

  <div class="wrapper">
    <!-- Main content -->
    <section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-12">
          <h2 class="page-header">
            <img src="../../../assets/img/logopetwalk.png" width="140px" height="70px" alt="">
            <small class="float-right">Fecha: {{fechaActual | date: 'dd/MM/yyyy'}}</small>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
          Desde:
          <address>
            <strong>Administración</strong><br>
            Duoc Uc<br>
            San Bernardo, Freire 862<br>
            Telefono: (569) 11111111<br>
            Email: petwalk.petsolution@gmail.com
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          Para:
          <address>
            <strong>{{consumidor?.nombre | titlecase}} {{consumidor?.apellido | titlecase}}</strong><br>
            {{consumidor?.direccion | titlecase}}<br>
            {{consumidor?.comuna | titlecase}}<br>
            Telefono: (569) {{consumidor?.telefono | titlecase}}<br>
            Email: {{consumidor?.correo | titlecase}}
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <b>Invoice #007612</b><br>
          <br>
          <b>Order ID:</b> 4F3S8J<br>
          <b>Payment Due:</b> 2/22/2014<br>
          <b>Account:</b> 968-34567
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Cantidad</th>
              <th>Producto</th>
              <th>Serial #</th>
              <th>Descripción</th>
              <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{CantidadCoins}}</td>
              <td>PetsCoins</td>
              <td>455-981-221</td>
              <td>PetsCoins para contratar paseos</td>
              <td>$ {{total | currency: 'CLP' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-6">
          <p class="lead">Métodos de pago:</p>
          <img src="https://adminlte.io/themes/v3/dist/img/credit/visa.png" alt="Visa">
          <img src="https://adminlte.io/themes/v3/dist/img/credit/mastercard.png" alt="Mastercard">
          <img src="https://adminlte.io/themes/v3/dist/img/credit/american-express.png" alt="American Express">
          <img src="https://adminlte.io/themes/v3/dist/img/credit/paypal2.png" alt="Paypal">

          <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
            Muchas gracias por su compra!
          </p>

        </div>
        <!-- /.col -->
        <div class="col-6">
          <p class="lead">Fecha de compra {{fechaActual | date: 'dd/MM/yyyy'}}</p>

          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Total:</th>
                <td>$ {{total | currency: 'CLP' }}</td>
              </tr>
            </table>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row no-print">
        <div class="col-12">
          <a routerLink="/tab/billetera" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-user"></i> Volver a la app</a>
        </div>
      </div>
    </section>
    <!-- /.content -->

  </div>


</div>
</ion-content>