<ion-content>

  <ion-tabs hide-nav-bar="true" class="tab">
    <ion-tab-bar slot="bottom" class="tabs">
  
      <ion-tab-button tab="buscar" class="tabs">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Paseador</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="historial" class="tabs">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="billetera" class="tabs">
        <ion-icon name="wallet-outline"></ion-icon>
        <ion-label>PetsCoins</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="perfil" class="tabs active">
        <ion-icon name="person-outline" class="icon"></ion-icon>
        <ion-label class="text">Perfil</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
  
  </ion-tabs>

</ion-content>
