.form-login{
      width: 100%;
      background-size: cover;
      background-size:auto;
      padding: 30px;
      margin: auto;
      margin-top: 45%;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: black;

}

.form-login h1{
      text-align: center;
      margin: 0;
      font-size: 15px;
      font-weight: bold;
}

.form-login h4{
      font-size: 30px;
      text-align: center;
      color: rgb(0, 0, 0);

}
.controls{
      width: 100%;
      background-color: #f8f8f8;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 2px solid #212aa3;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 14px;
      text-align: start;
}

ion-icon{
      font-size: 20px;
      margin-left: 5px;
      margin-right: 7px;
}

.title{
      margin-right: 15%;
      text-align: center;
      font-size: 16px;
      
}

.block{
      position:absolute;
      width: 100%;
      height: 40%;
      background-color: rgba(227, 196, 245, 0.658);
}

.content{
      width: 90%;
      height: auto;
      margin-top: 20px;
      margin-left: 20px;
      background-image: url('../../assets/img/fondoslogin.png');
      background-size: cover;
      border-radius: 5%;
}
#perro{
      width: 70%;
      padding-left:30%;
      margin-left: 10px;
      margin-top: 5%;
      position: absolute;
}

a{
      margin-left: 20px;
      text-decoration:solid;
      color: rgb(0, 0, 0);
      font-size: medium;
}






