
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="solicitudes">
        <ion-icon name="mail-unread-outline"></ion-icon>
        <ion-label>Solicitudes</ion-label>
        <ion-badge>{{total}}</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="historial-paseador">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="cartera">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Cartera</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="perfilP">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
