<ion-header>
  <ion-toolbar color="tertiary" >
    <ion-title >Registro</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content scroll-y="true">

  <form id="quickForm" form #trabajadorForm="ngForm" (ngSubmit)="addRegistro(trabajadorForm)">

    <ion-header>
      <ion-toolbar >
        <ion-title class="var">Datos Cuenta</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="nombre" [(ngModel)]="trabajadorService.selectedTrabajador.nombre" ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" name="apellido" [(ngModel)]="trabajadorService.selectedTrabajador.apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" name="correo" [(ngModel)]="trabajadorService.selectedTrabajador.correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"  name="contrasena" [(ngModel)]="trabajadorService.selectedTrabajador.contrasena"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password"  ></ion-input>
    </ion-item>

    <ion-header>
      <ion-toolbar>
        <ion-title class="var">Datos Personales</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-input name="rut" [(ngModel)]="trabajadorService.selectedTrabajador.rut"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Direccion</ion-label>
      <ion-input name="direccion" [(ngModel)]="trabajadorService.selectedTrabajador.direccion"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-select placeholder="Comuna" name="comuna" [(ngModel)]="trabajadorService.selectedTrabajador.comuna">
          <ion-select-option value="La Florida">La florida</ion-select-option>
          <ion-select-option value="San Bka">San Bka</ion-select-option>
          <ion-select-option value="La Legua">La legua</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-select placeholder="Genero" name="genero" [(ngModel)]="trabajadorService.selectedTrabajador.genero">
          <ion-select-option value="Masculino">Masculino</ion-select-option>
          <ion-select-option value="Femenino">Femenino</ion-select-option>
          <ion-select-option value="Otro">Otro</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>


    <ion-item>
      <ion-label position="fixed">Teléfono</ion-label>
      <ion-input  type="number" name="telefono" [(ngModel)]="trabajadorService.selectedTrabajador.telefono"><ion-text>+569 </ion-text></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha Nacimiento</ion-label>
      <ion-input type="date" name="fechaNacimiento" [(ngModel)]="trabajadorService.selectedTrabajador.fechaNacimiento"></ion-input>
    </ion-item>
    

    <ion-header >
      <ion-toolbar>
        <ion-title class="var">Documento Antecedentes</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-item>
      <ion-label>Cert.Antecedentes</ion-label>
      <ion-input type="file"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Foto carnet delantera</ion-label>
      <ion-input type="file"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Foto carnet trasera</ion-label>
      <ion-input type="file"></ion-input>
    </ion-item>
    <ion-button ><button  (click)="presentAlert()">Registro</button></ion-button>

  
  
  </form>
  

</ion-content>