
.title {
      color: #A074BD;
      font-weight: bold;
}



span{
      color: rgb(0, 0, 0);
      font-weight: bold;
}
   
button{
      background: none;
      color: azure;
}

.registro{
      background-color: #A074BD;
}

#btnRegistro{
      background-color: #ac73d2;
}

ion-item{
      width: 90%;
      align-items: center;
      border-radius: 10%;
      font-family: Helvetica, sans-serif;
}


