<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">PetWalk Paseador</ion-title>
  </ion-toolbar>
</ion-header>


 

<ion-content scroll-y="true"> 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/css/inputmask.min.css" rel="stylesheet"/>


  <form id="quickForm" form #trabajadorForm="ngForm" (ngSubmit)="addRegistro(trabajadorForm)">
    <div class="form-register">
      <h4><ion-icon name="paw-outline"></ion-icon> Registro Paseador <ion-icon name="paw-outline"></ion-icon></h4>
      <ion-input class="controls" type="text" placeholder="Rut" name="rut" id="rut" [(ngModel)]="trabajadorService.selectedTrabajador.rut"><ion-icon name="wallet-outline"></ion-icon></ion-input>
      <ion-input class="controls" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="trabajadorService.selectedTrabajador.nombre"><ion-icon name="person-outline"></ion-icon></ion-input>
      <ion-input class="controls" type="text" placeholder="Apellido" name="apellido" [(ngModel)]="trabajadorService.selectedTrabajador.apellido" ><ion-icon name="person-outline"></ion-icon></ion-input>
      
      <ion-input  class="controls"><ion-icon name="transgender-outline"></ion-icon>
        <ion-select placeholder="Genero" name="genero" [(ngModel)]="trabajadorService.selectedTrabajador.genero">
          <ion-select-option value="Masculino"> Masculino</ion-select-option>
          <ion-select-option value="Femenino">Femenino </ion-select-option>
          <ion-select-option value="Otro">Otro</ion-select-option>
        </ion-select>
      </ion-input>
       
      <ion-input class="controls" placeholder="Telefono" type="number" name="telefono" [(ngModel)]="trabajadorService.selectedTrabajador.telefono"><ion-icon name="call-outline"></ion-icon><ion-text class="numero">+56</ion-text></ion-input>
      <ion-input class="controls" placeholder="Correo" name="correo" [(ngModel)]="trabajadorService.selectedTrabajador.correo"><ion-icon name="mail-outline"></ion-icon></ion-input>
      <ion-input class="controls" placeholder="Contraseña" type="password" name="contrasena" [(ngModel)]="trabajadorService.selectedTrabajador.contrasena" maxlength="6"><ion-icon name="finger-print-outline"></ion-icon></ion-input>
      <ion-input class="controls" placeholder="Confirmar Contraseña" type="password" [(ngModel)]="pass2"   name="contrasenaa" maxlength="6"><ion-icon name="finger-print-outline"></ion-icon></ion-input>
      <ion-input class="controls" placeholder="Direccion" name="direccion" [(ngModel)]="trabajadorService.selectedTrabajador.direccion"><ion-icon name="home-outline"></ion-icon></ion-input>
      
      <ion-input class="controls"><ion-icon name="location-outline"></ion-icon>
        <ion-select placeholder="Seleccione Comuna" name="comuna" [(ngModel)]="trabajadorService.selectedTrabajador.comuna" required>
          <ion-select-option *ngFor="let comuna of comunaService.comunas" [value]="comuna.nombre">{{comuna.nombre}}</ion-select-option>
        </ion-select>
      </ion-input>

      <div class="controls"> 
        <h6>Fecha de nacimiento <ion-icon name="calendar-outline"></ion-icon></h6>
        <ion-datetime-button datetime="date"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime class="controlsFecha" presentation="date" id="date" name="fechaNacimiento" [(ngModel)]="trabajadorService.selectedTrabajador.fechaNacimiento"></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>

      <div class="controls">
        <ion-text>Certificado Antecedentes</ion-text><ion-icon name="document-text-outline"></ion-icon>
        <ion-input type="file" (change)="subirAntecedentes($event)" name="antecedentes" ></ion-input>
      </div>

      <div class="controls">
        <ion-text>Foto Carnet Frontal</ion-text><ion-icon name="document-text-outline"></ion-icon>
        <ion-input type="file" (change)="subirFotoDelantera($event)" name="carnetF" ></ion-input>
      </div>

      <div class="controls">
        <ion-text>Foto Carnet Trasera</ion-text><ion-icon name="document-text-outline"></ion-icon>
        <ion-input type="file" (change)="subirFotoTrasera($event)" name="carnetT" ></ion-input>
      </div>


      <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
      
      
      <button class="botons" type="submit">Registrarse</button>
      
      <p><a [routerLink]="['../loginPaseador']">Ya tengo cuenta</a></p>



    </div>

  </form>

  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.js"></script>

</ion-content>
