<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">
    <ion-slide>
      <div class="slide perro">
        <img class="perro" src="https://cdn-icons-png.flaticon.com/512/616/616554.png" />
        <h2>Bienvenidos a PetWalk 🐾</h2>
       <h3> <strong>Tengo una Mascota</strong></h3>
        <p>
          En este tutorial te enseñaremos a utilizar nuestra aplicación para que puedas encontrar un paseador para tu mascota.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <h2>¿Qué necesito para contratar a un paseador?</h2>
      <h3>Paso 1 <ion-icon name="checkmark-outline"></ion-icon></h3>
      <p>
        Primero necesitas comprar nuestra moneda virtual llamada <b>PetCoins</b>. La podrás encontrar en la barra de navegación inferior llamada <strong>PetCoins.</strong>
      </p>
      <img class="imgIconos" src="https://cdn-icons-png.flaticon.com/512/5314/5314669.png" alt="">
      <h5>¡Listo!, ya tienes PetCoins.</h5>
    </ion-slide>

    <ion-slide>
      <h2>¿Cómo puedo solicitar un paseo?</h2>
      <h3>Paso 2 <ion-icon name="checkmark-outline"></ion-icon></h3>
      <p>
        Cuando tengas al menos una <b>PetCoins</b> dirígete a buscar un paseador para tu mascota. Lo podras encontrar en la barra de navegación inferior llamado <strong>Paseador.</strong>
      </p>
      <img class="imgIconos" src="https://cdn-icons-png.flaticon.com/512/769/769609.png" />
      <h5>Elige el paseador que mas te acomode 😁</h5>
    </ion-slide>

    <ion-slide>
      <h2>¿Cómo puedo solicitar un paseo?</h2>
      <h3>Paso 3 <ion-icon name="checkmark-outline"></ion-icon></h3>
      <p>Dentro de <strong>Paseador</strong> podrás visualizar a todos los paseadores activos, ver sus <b>perfiles</b> y sus <b>horarios ⏳</b></p>
      <img src="https://cdn-icons-png.flaticon.com/512/2972/2972071.png" alt="" class="imgIconos">
      <h5>Elige el horario que mas te acomode 😁</h5>
    </ion-slide>
    <ion-slide>
      <h2>Esperando al paseador</h2>
      <h3>Paso 4 <ion-icon name="checkmark-outline"></ion-icon></h3>
      <p>Finalmente, cuando se haya creado la solicitud hacia el paseador debes esperar a que este la acepte y se
       <b>cumpla el horario</b>, cuando lo anterior ocurra el paseador vendra en camino.
      </p>
      <img class="imgIcono" src="https://cdn-icons-png.flaticon.com/512/3063/3063835.png" alt="">
      <h5>Relájate</h5>
      
    </ion-slide>

    <ion-slide>
      <h2>¿Qué hacer en caso de que algo malo ocurra?</h2>
      <p>
        En el caso de que ocurra algun incidente hacia usted o a su mascota como, por ejemplo:
      </p>
      <ul>
        <li>Maltrato animal</li>
        <li>Inasistencia del paseador</li>
        <li>Robo de mascota</li>
        <li>Accidentes de trayecto</li>
        <li>Cualquier otro incidente</li>
      </ul>
      <p>Podrá reportarlo directamente desde el perfil del paseador, en la seccion <b>Reportar Trabajador</b></p>
      <img src="https://cdn-icons-png.flaticon.com/512/564/564619.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="https://media.tenor.com/yTPn_mN53MAAAAAC/corgi-cute.gif" /> 
      <h2>¿Listo para empezar?</h2>
      <ion-button fill="clear" (click)="retornarPerfil()">Continuar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
