<ion-header>
  <ion-toolbar>
    <ion-title>Billetera</ion-title>
    <ion-title slot="end">Tienes {{billetera?.monto}} coins</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content scroll-y="true">
<app-tabs></app-tabs>  
  

  <ion-text>Planes</ion-text>
<div *ngFor=" let plan of planes ">
    <ion-card>
        <ion-card-header>
          <div *ngIf="plan.descuentoActivo">
            <ion-card-title class="tachado">${{plan.costo}}</ion-card-title>
            <ion-card-title>${{plan.costoNuevo}}</ion-card-title>
            <ion-card-subtitle>{{plan.cantidadCoins}} PetCoins</ion-card-subtitle>
            <ion-card-subtitle>{{plan.porcentajeDescuento}} Off</ion-card-subtitle>
            <ion-card-subtitle>Oferta vigente hasta: {{plan.fechaTermino | date:'dd/MM/yyyy'}}</ion-card-subtitle>
         </div>
          <div *ngIf="!plan.descuentoActivo">
            <ion-card-title>${{plan.costo}}</ion-card-title>
            <ion-card-subtitle>{{plan.cantidadCoins}} PetCoins</ion-card-subtitle>
         </div>
        </ion-card-header>
        <ion-card-content>{{plan.descripcion}}</ion-card-content>
        <div *ngIf="!plan.descuentoActivo">
        <ion-button fill="clear" (click)="comprarCoinsBaratas(plan.costo, plan.cantidadCoins)" id="open-modal">Lo quiero</ion-button>

        </div>
        <div *ngIf="plan.descuentoActivo">
          <ion-button fill="clear" (click)="comprarCoins(plan.costoNuevo)" id="open-modal">Lo quiero</ion-button>
          
          </div>
    </ion-card>
</div>


</ion-content>


  


