<ion-header>
  <ion-toolbar>
    <ion-title>billetera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="true">
  <app-tabs></app-tabs>
  

  <div class="cartera">
    <ion-text>Cartera</ion-text>
    <br>
    <ion-text>2 PetCoins</ion-text>
    <ion-button>Comprar PetCoins</ion-button>
  </div>

  <ion-card *ngFor=" let planes of MostrarPlanes.planes ">
    <ion-card-header>
      <ion-card-title>${{planes.costo}}</ion-card-title>
      <ion-card-subtitle>{{planes.cantidadCoins}} PetCoins</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{planes.descripcion}}
    </ion-card-content>

    <ion-button fill="clear">Lo quiero</ion-button>
  </ion-card>



</ion-content>

