.card{
      color: #000000;
}

.bg{
      background-color: #cfdef5;
      width: 100%;
      border-radius: 10px;
}

.bord{
      border-bottom-left-radius: 30px;
      border-top-right-radius: 30px;

}

.foot{
      border-bottom-left-radius: 30px;
      background-color: #af85f3;
}
