<ion-header class="header">
  <ion-toolbar class="header">
    <ion-title ><img src="../../../assets/img/logopetwalk.png" width="42%" height="30%" alt=""></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar animated="true" placeholder="Buscar Paseador"  [(ngModel)]="filterTerm" name="filterTerm"></ion-searchbar>
  <section class="content " >
    <!-- Default box -->
    <div class="card card-solid ">
      <div class="card-body  pb-0">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column" *ngFor="let trabajador of trabajadores | filter: filterTerm ">
            <div class="card bg bord d-flex flex-fill">
              <div class="card-header text border-bottom-0">
                {{trabajador.correo}}
              </div>
              <div class="card-body pt-0 ">
                <div class="row">
                  <div class="col-7">
                    <h2 class="lead"><b>{{trabajador.nombre | titlecase}} {{trabajador.apellido | titlecase}}</b></h2>
                    <br>
                    <ul class="ml-3 mb-0 fa-ul text">
                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: {{trabajador.direccion | titlecase}} | {{trabajador.comuna}}</li>
                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Teléfono: + 56 {{trabajador.telefono}}</li>
                    </ul>
                  </div>
                  <div class="col-5 text-center" *ngIf="trabajador.genero == 'Masculino'">
                    <img src="https://static.vecteezy.com/system/resources/previews/004/607/806/original/man-face-emotive-icon-smiling-bearded-male-character-in-yellow-flat-illustration-isolated-on-white-happy-human-psychological-portrait-positive-emotions-user-avatar-for-app-web-design-vector.jpg" alt="user-avatar" class="img-circle img-fluid">
                    <p class="text-muted">{{valoracion?.totalValorado | number : '1.1-1'}} ({{valoracion?.cantidadValoraciones}}) Opiniones</p>
                  </div>
                  <div class="col-5 text-center" *ngIf="trabajador.genero == 'Femenino'">
                    <img src="https://static.vecteezy.com/system/resources/previews/001/312/575/non_2x/beautiful-teenage-girl-with-different-facial-expression-vector.jpg" alt="user-avatar" class="img-circle img-fluid">
                    <p class="text-muted">{{valoracion?.totalValorado | number : '1.1-1'}} ({{valoracion?.cantidadValoraciones}}) Opiniones</p>
                  </div>
    
                </div>
              </div>
              <div class="card-footer  foot">
                <div class="text-right">
                  <a [routerLink]="'/mostrarperfil/' + trabajador._id" class="btn btn-sm btn-primary">
                    <i class="fas fa-user"></i> Ver Perfil
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card -->
  </section> 
</ion-content>

