<ion-content>
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title class="title">Tengo una Mascota</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="block">
    <ion-img id="perro" src="../../assets/img/mascota.png"></ion-img>
    <div class="content">
      <div class="form-login">
        <h4>Login</h4>
        <ion-input class="controls" type="text" placeholder="Correo Electrónico" [(ngModel)]="correo"><ion-icon name="mail-outline"></ion-icon></ion-input>
        <ion-input class="controls" type="password" maxLength="6" placeholder="Contraseña"[(ngModel)]="contrasena"><ion-icon name="finger-print-outline"></ion-icon></ion-input>

        <ion-button color="success" expand="block" fill="solid" (click)="login()">Iniciar Sesión</ion-button>
        <br>
        <h1>____ O puedes ____</h1> 
        <br>
        
        <ion-button color="primary" expand="block" fill="solid" [routerLink]="['/registerconsum']">Registrarte</ion-button>
        
        <ion-label><a href="">Recuperar Contraseña</a></ion-label>
      
      </div>
    </div>
  </div>
  
</ion-content>





