<ion-header>
  <ion-toolbar>
    <ion-title>paseando</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://i.pinimg.com/originals/0f/e7/f8/0fe7f83d7dc3f0ad250bb9a544661cb6.gif" alt="">
  <section>
    <div class="coming-soon">
        <div class="time-countdown">
            <ul>
                <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span>Minutos</li>
                <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span>Segundos</li>
            </ul>
        </div>
    </div>
  </section>
  
  <ion-button color="success" >Terminar Paseo</ion-button>
  <ion-button color="danger" >Cancelar Paseo</ion-button>

</ion-content>
