<ion-content>
  <img src="https://i.pinimg.com/originals/0f/e7/f8/0fe7f83d7dc3f0ad250bb9a544661cb6.gif" alt="">
  <section>
    <div class="coming-soon">
        <div class="time-countdown">
            <ul>
                <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span>Minutos</li>
                <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span>Segundos</li>
            </ul>
        </div>
    </div>
  </section>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Dueño: {{consumidor?.nombre}} {{consumidor?.apellido}}</ion-card-title>
      <ion-card-subtitle>{{consumidor?.direccion}} | {{consumidor?.comuna}}</ion-card-subtitle>
      <ion-card-subtitle><a class="float-right" [href]="'https://api.whatsapp.com/send?phone=56'+consumidor?.telefono">Contactar</a></ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content class="mensaje">
      Recueda Volver 10 minutos antes de que acabe el tiempo 😉
    </ion-card-content>
  
    <div class="buttons">
      <ion-button color="success" (click)="finalizarPaseo()" >Terminar Paseo</ion-button>
    </div>
  </ion-card>

  
  

</ion-content>