<ion-content>
  <img src="https://i.pinimg.com/originals/0f/e7/f8/0fe7f83d7dc3f0ad250bb9a544661cb6.gif" alt="">
  <section>
    <div class="coming-soon">
        <div class="time-countdown">
            <ul>
                <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span>Minutos</li>
                <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span>Segundos</li>
            </ul>
        </div>
    </div>
  </section>
  <div class="info">
    <h5>Dueño: </h5>
    <h5>Direccion: nombre de la direccion</h5>
    <h5>Contacto: numero teledono</h5>
    

  </div>
  
  <div class="buttons">
    <ion-button color="success" >Terminar Paseo</ion-button>
    <ion-button color="danger" >Cancelar Paseo</ion-button>
  </div>
  

</ion-content>
