<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="perfil">
    <div class="nombres">
      <ion-label>Nombre</ion-label>
      <ion-text>{{consumidor?.nombre | titlecase}} </ion-text>
      <ion-label>Apellido</ion-label>
      <ion-text>{{consumidor?.apellido | titlecase}}</ion-text>
    </div>
    <div class="datos">
      <ion-label>Dirección</ion-label>
      <ion-text>Direccion {{consumidor?.direccion}}</ion-text>
      <ion-label>Edad</ion-label>
    </div>
  </div>
  

  <ion-button (click)="LogOut()">Cerrar Sesion</ion-button>

</ion-content>
