<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recuperar Contraseña</ion-card-title>
      <ion-card-subtitle>Le enviaremos un correo para reestablecer su contraseña</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email"  name="email" placeholder="Ingrese su Email" require></ion-input>
      </ion-item>
    </ion-card-content>
    
    <ion-button (click)="onReset()" fill="outline" color="secondary">Recuperar</ion-button>
  </ion-card>

</ion-content>
