@import url("https://adminlte.io/themes/v3/dist/css/adminlte.css%22");
@import url("https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css%22");

.card{
      margin-top: 5px;
}

.buttons a{
      margin: 10px;
}

.card-body h6{
      font-size: 18px;
      margin: 5px;
}

.card-body p {
      margin: 5px;
      font-size: 18px;
}