<ion-content>
  <div class="column card">     
    <div class="col-lg-6">
      <div *ngIf = "cantidadMatches != 0">
          <div *ngFor="let match of pendientes">
                <div class="card card-purple card-outline" >
                  <div class="card-header">
                    <h5 class="m-0">Usuario: <strong>{{match.idConsumidor.nombre}} {{match.idConsumidor.apellido}}</strong></h5>
                  </div>
                  <div class="card-body">
                    <h6 class="card-title">Direccion: <strong>{{match.idConsumidor.direccion}} | {{match.idConsumidor.comuna}}</strong></h6>
                
                    <p class="card-text"> Hora: <strong>{{match.idHoraTrabajo.horaIntervalos}}</strong></p>
                    <div class="buttons">
                      <a  (click)="AceptarMatch(match.idConsumidor,match._id)"   class="btn btn-success">Iniciar Paseo</a>
                    
                      <a (click)="preguntar(match._id)" class="btn btn-danger">Cancelar Trabajo</a>
                    </div>
                    
                  </div>
                </div>
          </div>
        </div>
        <div *ngIf = "cantidadMatches == 0">
          <ion-grid>
            <ion-row>
              <ion-col class="ion-align-self-center">
                <div class="ion-text-center">
                  <h3>No hay trabajo aún!</h3>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
    </div>
</div>

</ion-content>