@import url("https://adminlte.io/themes/v3/dist/css/adminlte.css%22");
@import url("https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css%22");

.solicitud{
      
      width: 95%;
      margin: 2.5%;
}

.buttons a{
      margin: 5px;
      border-radius: 10px;
}

.card-body h6{
      font-size: 15px;
      margin: 5px;
}

.card-body p {
      margin: 5px;
      font-size: 15     px;
}
.direccion{
      font-size: 15px;
}

.card-body{
      background-color: rgb(230, 208, 250);
}

.buttons{
      height: 50px;
      width: 100%;
      background-color: rgb(192, 121, 247);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
}