<ion-header>
  <ion-toolbar>
    <ion-title><img src="../../../assets/img/logopetwalk.png" width="42%" height="30%" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- Timelime example  -->
        <div class="row">
          <div class="col-md-12">
            <!-- The time line -->
            <div class="timeline" >
              <!-- timeline time label -->
              <div class="time-label">
                <span class="bg-purple">{{fechaActual | date:'dd/MM/yyyy'}}</span>
              </div>
              <!-- /.timeline-label -->
              <!-- timeline item -->
              <div *ngFor="let match of matches">
                <ng-container *ngIf="match.estadoTrabajo == 'Pendiente'" >
                  <i class="fa fa-hourglass bg-info"></i>
                  <div class="timeline-item ">
                    <span class="time bg-black"><i class="fas fa-clock"></i> {{match.fechaCreacion | date:'shortTime'}}</span>
                    <h3 class="timeline-header bg-info"><a href="#">PetWalk</a> pendiente</h3>

                    <div class="timeline-body ">
                      Paseo Pendiente por el paseador: <strong>{{match.idTrabajador.nombre}} {{match.idTrabajador.apellido}}</strong>
                      
                    </div>
                    
                  </div>
                </ng-container>
              
              
                <ng-container *ngIf="match.estadoTrabajo == 'Cancelado'" >
                  <i class="fa fa-times bg-red"></i>
                  <div class="timeline-item">
                    <span class="time bg-black"><i class="fas fa-clock"></i> {{match.fechaCreacion | date:'shortTime'}}</span>
                    <h3 class="timeline-header bg-red"><a href="#">PetWalk</a> cancelado</h3>

                    <div class="timeline-body">
                      - Paseo  Cancelado por el paseador: <strong>{{match.idTrabajador.nombre}} {{match.idTrabajador.apellido}}</strong>
                      <br>
                      - Se han reembolsado 1 PetsCoins
                    </div>
                    
                  </div>
                </ng-container>
                <ng-container *ngIf="match.estadoTrabajo == 'Finalizado'" >
                  <i class="fa fa-check bg-green"></i>
                  <div class="timeline-item">
                    <span class="time bg-black"><i class="fas fa-clock"></i> {{match.fechaCreacion | date:'shortTime'}}</span>
                    <h3 class="timeline-header bg-green"><a href="#">PetWalk</a> finalizado</h3>

                    <div class="timeline-body">
                      Paseo  Finalizado por el paseador: <strong>{{match.idTrabajador.nombre}} {{match.idTrabajador.apellido}}</strong> 
                    </div>
                    
                  </div>
                </ng-container>

              </div>
              
                 
              
            </div>
          </div>
          <!-- /.col -->
        </div>
      </div>
      <!-- /.timeline -->

    </section>
    <!-- /.content -->

</ion-content>