<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="LogOut()">
        <ion-icon name="log-out-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                    src="https://www.pngitem.com/pimgs/m/659-6591764_golden-retriever-hd-png-download.png"
                    alt="User profile picture">
              </div>

              <h3 class="profile-username text-center">{{trabajador?.nombre | titlecase}} {{trabajador?.apellido | titlecase}}</h3>

              <p class="text-muted text-center">+ 56 {{trabajador?.telefono}}</p>

              <div class="info-box bg-info">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-light">Paseos Realizador</span>
                  <span class="info-box-number text-center text-light mb-0">{{contador}}</span>
                </div>
              </div>
              <div class="info-box bg-success">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-light">Ganancias Semanales</span>
                  <span class="info-box-number text-center text-light mb-0">{{ganancias}}</span>
                </div>
              </div>  
              <button class="btn btn-primary btn-block" id="horarios"  (click)="setOpen(true)"><b>Gestionar horario</b></button>
            </div>
            <li class="list-group-item">
              <b>¿Cómo utilizar la aplicación?</b> <a class="float-right" href="tutorialPaseador">Ver tutorial</a>
            </li>
            <!-- /.card-body -->
          </div>

          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Gestion de Horas</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false)">Cerrar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
                  <ion-refresher-content></ion-refresher-content>
                </ion-refresher>
                
                <div class="horarios">
                  <h4>{{fechaHoy | date: 'EEEE, MMMM d, y'}}</h4>
                  <h1>________________</h1>
                  

                  <div class="defHoras">
                    
                    <ion-label>Inicio</ion-label>
                    <input type="time" [(ngModel)]="horaInicio" name="horaInicio" id="">
                    
                    <ion-label>Termino</ion-label>
                    <input type="time" [(ngModel)]="horaTermino" name="horaTermino" id="">
  
                    <button (click)="CrearHorarioDisponible()"> Guardar</button>
                  </div>

                  
                  
                  <div class="horas" *ngFor="let horas of horarios">
                    <div>
                      <ion-text ><strong>{{horas.horaIntervalos }}</strong> 🐶(hrs) </ion-text> <br><ion-text>{{trabajador.comuna}}</ion-text>
                    </div>
                    <button  (click)="BorrarHorarioDisponible(horas?._id)"><ion-text >Borrar</ion-text> </button>
                  
                  </div>
                  
                </div>

                
                
                

              </ion-content>
            </ng-template>

            
          </ion-modal>
          <!-- /.card -->

          <!-- About Me Box -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Información</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fas fa-map-marker-alt mr-1"></i> Ubicación</strong>

              <p class="text-muted">{{trabajador?.direccion}} | {{trabajador?.comuna}}</p>

              <hr>

              <strong><i class="fas fa-birthday-cake mr-1"></i> Fecha de Nacimiento</strong>

              <p class="text-muted">{{trabajador?.fechaNacimiento | date: 'dd/MM/yyyy'}}</p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
</ion-content>