*{
      font-family: sans-serif;
}

ion-img{
      padding-top: 2%;
      padding-left: 5%;
      width: 95%;

}

.Acuerdos{
      font-size: 12px; 
      padding-top: 5%;
      width: 100%;
      text-align: center;
}
.Acuerdos p{
      width: 95%;
      padding-left:5%;
      color: black; 
      font-weight: bold;
}

#perro{
      width: 70%;
      padding-left:30%;
}

#consumidor{
      margin: 10px;
}

#paseador{
      margin: 10px;
}