
<ion-content [fullscreen]="true">
  <div class="block">
    <ion-img src="../../assets/img/logopetwalk.png"></ion-img>
    <ion-img id="perro" src="../../assets/img/imgPerro.png"></ion-img>
    <div class="botones">
      <ion-button class="consumidor" shape="round" color="consumidor" expand="full" [routerLink]="['/consumidor']">Tengo una Mascota</ion-button>
      <ion-button class="paseador" shape="round" color="paseador"  expand="block" [routerLink]="['/loginPaseador']">Quiero pasear una mascota</ion-button>
    </div>
    <div class="Acuerdos">
      <p>Haciendo clíck en Registrarse o Iniciar Sesión estoy de acuerdo con <a href="#">Los Términos y Condiciones</a> de PetWalk y <a href="#">Su Política de Privacidad</a>.</p>
    </div>
  </div>

</ion-content>   


      

     
    

