<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PetWalk Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PetWalk</ion-title>
    </ion-toolbar>
  </ion-header>


  
    <div id="container">
      <ion-card>
        <ion-button expand="block" [routerLink]="['']">Tengo una Mascota</ion-button>
        <ion-button expand="block" [routerLink]="['../loginPaseador']">Quiero pasear una mascota</ion-button>
        <p>al momento de registrar </p>
      </ion-card>
    </div>

  
</ion-content>
